.beerImg {
    width: 100px;
}

.containerHalfSize {
    width: 50%;
}

.beerContainer {
    padding: 5px;
}

@media screen and (max-width: 768px) {
    .beerContainer {
        flex-direction: column;
    }
}